/*Блок header*/

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  height: 293px;
  font-size: 18px;
  font-weight: 400;
  padding: 0 50px;
}



.header__links-list {
  display: flex;
  list-style: circle;
  gap: 13px;
}

.header__links-list-item {
  list-style-position: inside;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-decoration: underline;
}

.header__link_active {
  text-decoration: none;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  max-width: 240px;
  justify-self: end;
  font-style: normal;
}

.header__address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

/*Блок cover*/

.cover {
  background-image: url(../images/cover.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 757px;
  position: relative;
  color: white;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cover__title {
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 30%;
  padding: 165px 50px 110px;
}

.aligned-text {
  width: 100%;
  height: 385px;
}

.aligned-text_center {
  display: block;
  overflow-wrap: break-word;
  white-space: normal;
  text-align: center;
  margin-top: 20px;
}

.aligned-text_right {
  display: block;
  text-align: end;
  margin-top: 20px;
}

.no-letter-spacing {
  margin-right: -0.3em;
}

.description {
  font-size: 22px;
  text-transform: uppercase;
  width: 100%;
  padding: 0 50px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  font-weight: 400px;
  line-height: 28px;
  word-spacing: 18px;
}

.bet-button {
  line-height: 100%;
  text-transform: uppercase;
  width: 256px;
  height: 51px;
  padding: 0;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  position: relative;
  z-index: 3;
}

/*Блок lots*/

.lots {
  width: 100%;
  padding: 180px 24px 120px;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto 27px 40px;
}

.lots__card-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 25px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  height: 100%;
  text-decoration: none;
  position: relative;
}

.card {
  height: 100%;
  color: white;
  position: relative;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
  background-position: center;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
  background-position: center;
}

.card_type_picture {
 background-image: url(../images/card-lot-03.jpg);
 background-size: cover;
 background-position: center;
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
  padding: 48px 40px 0;
}

.card__text {
  font-size: 20px;
  padding: 0 40px 48px;
  line-height: 120%;
}

.lots__look-more-link {
  font-size: 20px;
  font-weight: 400;
  text-decoration: underline;
  display: inline-block;
  margin: 30px auto 0 40px;
}

/*Блок about*/

.about {
  width: 100%;
  height: 595px;
  padding: 0 24px;
  margin-bottom: 180px;
}

.about__column {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.about__logo {
  background-color: black;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 35px 72px auto 47px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__column-text {
  margin: 133px 0 0 auto;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto 100px 0;
}

.about__text {
  font-size: 20px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/*Блок footer*/

.footer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 140px;
  padding: 0 50px;
}

.footer__menu-list {
  list-style: none;
  font-size: 18px;
  text-align: center;
}

.footer__menu-link {
  text-decoration: underline;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 48px;
}

.footer__social-list-item {
  width: 48px;
  height: 48px;
}